<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Daftar Produk</title>
</head>
<body>
<section layout:fragment="content">
    <h2>Backend information</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <td>Hostname</td>
                <td>Port</td>
                <td>Ip Address</td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td th:text="${hostinfo.hostname}"></td>
                <td th:text="${hostinfo.port}"></td>
                <td th:text="${hostinfo.ip}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</section>
</body>
</html>
